@model LanguageTutorService.ViewModels.AccountVM
@using DBContext.Models

@{
    ViewData["Title"] = "TtutorAudit";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>AccountStatistic</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .img1 {
            height: 200px;
            background: url(/img/foto.jpg) no-repeat;
            background-size: 100% auto;
            background-position: center;
            background-color: #f47a60;
            border-bottom: 3px;
            border-radius: 10px;
        }

        .img2 {
            height: 200px;
            background: url(/img/ger.png);
        }

        .img3 {
            height: 200px;
            background: url(/img/cod.png);
        }

        .img4 {
            height: 200px;
            background: url(/img/frc.png);
            background-position: center;
        }
    </style>
</head>
<body>
    <div class="jumbotron text-center" style="margin-bottom:0; background-color:#ced7d8 !important" align="center">
        <h1>Изучай, путешествуй, познавай</h1>
        <p>вместе с TutorLanguage</p>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="background-color:#316879 !important; max-height:300px !important;">

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="~/TutorMenu/Main">Главная</a>
                </li>

                <li class="nav-item">
                    <a style="color: #fff" class="nav-link" href="~/TutorMenu/Account">Личный кабинет</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="~/TutorMenu/SelectLang">Начать изучение</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="~/TutorMenu/OurContact">Контакты</a>
                </li>

            </ul>
        </div>
    </nav>

    <br />
    <h2> Ваш логин: @Model.Login</h2>    <br />
    <h4> Игра закончена: @Model.LastVisit </h4>
    <h4> Изучено слов: @Model.CountAnswer </h4>
    <br />
    <h2> Последние ответы: </h2>
    <h4>Сохранить в Excel</h4>
    <br />

    <table class="table">
        <thead>
            <tr>
                @{var audit = Model.History.FirstOrDefault(); }
                <th>
                    @Html.DisplayNameFor(model => audit.NameLogin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => audit.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => audit.LanguageFrom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => audit.LanguageTo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => audit.Word)
                </th>
                <th>
                    @Html.DisplayNameFor(model => audit.CorrectTranslation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => audit.UserTranslation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => audit.IsCorrect)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.History)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameLogin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LanguageFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LanguageTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Word)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorrectTranslation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserTranslation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCorrect)
                </td>
            </tr>
            }
        </tbody>
    </table>
    <br /> <br /> <br />


    <div style="margin-bottom:0; background-color:#316879; height:80px;  text-align: center; color:white;">
        <br />
        <p>© Nemtsov Veniamin, Russia 2020</p>
    </div>
</body>
</html>